[workspace]
members = [
    ".",
    "invoice",
    "stl"
]
default-members = [
    ".",
    "invoice"
]
resolver = "2"

[workspace.package]
version = "0.11.0-beta.4"
authors = ["Dr Maxim Orlovsky <orlovsky@lnp-bp.org>"]
homepage = "https://github.com/RGB-WG"
repository = "https://github.com/RGB-WG/rgb-std"
keywords = ["bitcoin", "lightning", "rgb", "smart-contracts", "lnp-bp"]
categories = ["cryptography::cryptocurrencies"]
rust-version = "1.69.0" # Due to TOML dependency in amplify crate
edition = "2021"
license = "Apache-2.0"

[workspace.dependencies]
amplify = "4.6.0"
ascii-armor = "0.2.0"
baid58 = "0.4.4"
strict_encoding = "2.7.0-beta.1"
strict_types = "2.7.0-beta.2"
commit_verify = { version = "0.11.0-beta.5", features = ["stl"] }
bp-core = { version = "0.11.0-beta.5", features = ["stl"] }
bp-invoice = { version = "0.11.0-beta.5" }
rgb-core = { version = "0.11.0-beta.5", features = ["stl"] }
indexmap = "2.0.2"
serde_crate = { package = "serde", version = "1", features = ["derive"] }

[package]
name = "rgb-std"
version = { workspace = true }
description = "RGB standard library for working with smart contracts on Bitcoin & Lightning"
keywords = { workspace = true }
categories = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }
readme = "README.md"

[lib]
name = "rgbstd"
crate-type = ["cdylib", "rlib"] # We need this for WASM

[dependencies]
amplify = { workspace = true }
ascii-armor = { workspace = true }
strict_encoding = { workspace = true }
strict_types = { workspace = true }
commit_verify = { workspace = true }
bp-core = { workspace = true }
rgb-core = { workspace = true }
rgb-invoice = { version = "0.11.0-beta.4", path = "invoice" }
baid58 = { workspace = true }
base85 = "=2.0.0"
chrono = "0.4.31"
indexmap = { workspace = true }
serde_crate = { workspace = true, optional = true }
rand = "0.8.5"

[features]
default = []
all = ["fs", "serde"]
serde = [
    "serde_crate",
    "amplify/serde",
    "strict_encoding/serde",
    "strict_types/serde",
    "commit_verify/serde",
    "bp-core/serde",
    "rgb-core/serde",
    "rgb-invoice/serde"
]
fs = []

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2"
rand = { version = "0.8.4", optional = true }
getrandom = { version = "0.2", features = ["js"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

[package.metadata.docs.rs]
features = ["all"]

[patch.crates-io]
strict_types = { git = "https://github.com/strict-types/strict-types", branch = "master" }
rgb-core = { git = "https://github.com/RGB-WG/rgb-core", branch = "master" }
